*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}



header{
    background-color:rgb(170, 233, 170);
    height: 80px;
}
nav{
    background-color: red;
    height: 80px;
}
aside{
    background-color: rgb(130, 237, 160);
    display: flex;
    height: auto;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    min-height: 150px;

}
section{
   
    width: 80%;
    background-color: rgb(49, 147, 49);
}
article{
    background-color: rgb(49, 147, 49);
   display: flex;
   flex-direction: column;
   margin: 15px;

}
footer{
    background-color: rgb(154, 154, 255);
    height: 80px;
}
h3{
    background-color: yellow;
    
   
}
p{
    
    background-color: yellow;
}
div{
    display: flex;
    
}